org: anyelitamara

service: api-web-scraping

provider:
  name: aws
  runtime: python3.12
  memorySize: 512
  timeout: 30
  iam:
    role: arn:aws:iam::456183835700:role/LabRole

functions:
  scrape_igp:
    handler: scrap_igp_local.lambda_handler
    package:
      include:
        - ./**
    events:
      - http:
          path: scrape/igp
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    TablaSismosIGP:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaSismosIGP
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

        
